@media all and (max-width: 1024px){
    .page-form{
        padding: 15px;
    }
    .ada-form{
        padding: 0 15px;
    }
    .ada-form__section{
        padding: 25px 10px 10px 10px;
    }
    .ada-form-row{
        margin-bottom: 0;
    }
    .checkboxes-ada,
    .radioboxes-ada{
        height: auto;
    }
}
@media all and (max-width: 1024px) and (orientation: portrait){
    .checkbox-ada{
        width: 100%;
        margin-bottom: 5px;
    }
    .ada-form-fieldset--third,
    .ada-form-fieldset--two-third{
        width: 50%;
    }
    .ada-form-col--half{
        width: 100%;
    }
}
@media all and (max-width: 767px){
    .page-form{
        padding: 0;
    }
    .ada-form{
        margin: 0;
        padding: 0 15px;
    }
    .ada-form__section{
        padding: 25px 0 10px 0;
    }
    .ada-form-fieldset{
        width: 100%;
        padding: 0;
    }
    .ada-form-col{
        width: 100%;
    }
    .checkboxes-ada{
        height: auto;
    }
    .checkbox-ada{
        width: 100%;
        margin-bottom: 5px;
    }
}