@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html, body {
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
}
a, button {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6,p{
    font-weight: normal;
    margin: 0;
}
input, textarea, button, select {
    outline: none;
    border: none;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
}
/*General Form Style*/
.page-bg{
    background-color: #993333;
}
.page-form{
    width: 100%;
    min-height: 100vh;
}
.ada-form{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.ada-form__logo{
    padding-top: 30px;
    text-align: center;
}
.ada-form__logo-link{
    display: inline-block;
}
.ada-form__section{
    padding: 30px;
}
legend{
    display: block;
    margin-bottom: 30px;
    font-size: 22px;
    color: #676767;
    text-align: center;
}

.clear:before,
.clear:after{
    content: "";
    display: table;
    clear: both;
}
.ada-form__fieldsets{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ada-form-fieldset{
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.ada-form-fieldset--two-third{
    width: 66.6666666%;
}
.ada-form-fieldset--third{
    width: 33.3333333%;
}
.ada-form-fieldset--full{
    width: 100%;
}
.ada-form-fieldset:last-child{
    margin-bottom: 0;
}
/*.ada-form-fieldset--full + .ada-form-fieldset--two-third{*/
/*    margin-bottom: 0;*/
/*}*/
fieldset fieldset legend{
    font-size: 18px;
    padding: 0 10px;
}
fieldset fieldset{
    height: 100%;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.ada-form-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.ada-form-row:last-child{
    margin-bottom: 0;
}
.ada-form-col{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 15px;
}
.ada-form-col--half{
    width: 50%;
}
.ada-form-col--quarter{
    width: 25%;
}
.label-ada{
    display: inline-block;
    margin-bottom: 10px;
    color: #676767;
}
.select-ada,
.inp-ada,
.txt-ada{
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    background: #FFFFFF;
    color: #000000;
    padding: 10px;
}
.txt-ada{
    height: 120px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    resize: none;
}
.select-ada:hover,
.inp-ada:hover,
.txt-ada:hover{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}
.radioboxes-ada,
.checkboxes-ada{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
}
.checkbox-ada-full{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.checkbox-ada-full .checkbox-ada{
    margin-bottom: 10px;
}
.checkbox-ada-full .checkbox-ada:last-child{
    margin-bottom: 0;
}
.radiobox-ada,
.checkbox-ada{
    margin-right: 15px;
}
.checkbox-ada input{
    margin-right: 5px;
}
.btn-control{
    display: block;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #993333;
    cursor: pointer;
}
.btn-control:hover{
    background-color: #000000;
}
.checkbox-ada-w-inp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0;
}
.checkbox-ada-w-inp .inp-ada{
    flex: 1;
    margin-left: 5px;
    margin-right: 0;
}
:disabled,
:disabled:hover{
    border: 1px solid #cccccc;
    background-color: #cccccc;
}
